<!DOCTYPE html>
<html>
<head>
    <title>Food Ordering System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar">

    <div class="logo">
        Flames & Forks
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/menu">Menu</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>

</nav>

<div class="hero">

<h1>Flames and Forks</h1>

<p>Taste of Authentic Excellence</p>

<a href="/login" class="btn">Explore Menu</a>
<button>Book Table</button>

</div>

</body>